<%- include('../partials/header.html') %>

<section class="messages-page">
	<div class="container">
		<div class="messages-sec">
			<div class="row">
				<div class="col-lg-4 col-md-12 no-pdd">
					<div class="msgs-list">
						<div class="msg-title">
							<h3>Messages</h3>
							<ul>
								<li><a href="#" title=""><i class="fa fa-cog"></i></a></li>
								<li><a href="#" title=""><i class="fa fa-ellipsis-v"></i></a></li>
							</ul>
						</div><!--msg-title end-->
						<div class="messages-list">
							<ul>
								<% friends.forEach(friend => { %>
									<li class="user-messageselector" selected-userid="<%= friend._id %>">
										<div class="usr-msg-details">
											<div class="usr-ms-img">
												<img src="<%= friend.Image %>" alt="">
												<span class="msg-status"></span>
											</div>
											<div class="usr-mg-info">
												<h3><%= friend.Name %></h3>
												<p>Last Message</p>
											</div>
											<span class="posted_time">1:55 PM</span>
											<span class="msg-notifc">1</span>
										</div>
									</li>
								<% }) %>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-8 col-md-12 pd-right-none pd-left-none">
					<div class="main-conversation-box">
						<div class="message-bar-head">
							<div class="usr-msg-details">
								<div class="usr-ms-img">
									<img src="/public/images/resources/m-img1.png" alt="">
								</div>
								<div class="usr-mg-info">
									<h3 id="chat-username">John Doe</h3>
									<p id="chat-user_status">Online</p>
								</div>
							</div>
							<a href="#" title=""><i class="fa fa-ellipsis-v"></i></a>
						</div>
						<div class="messages-line"></div>
						<div class="message-send-area">
							<form>
								<div class="mf-field">
									<input type="text" name="message" placeholder="Type a message here">
									<button type="submit">Send</button>
								</div>
								<ul>
									<li><a href="#" title=""><i class="fa fa-smile-o"></i></a></li>
									<li><a href="#" title=""><i class="fa fa-camera"></i></a></li>
									<li><a href="#" title=""><i class="fa fa-paperclip"></i></a></li>
								</ul>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script src="/public/js/messages.js"></script>

<%- include('../partials/footer.html') %>